doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
div(style='background-color:#FEEFC3;margin:0;width:100%')
  table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' bgcolor='#FEEFC3')
    // 最外圍
    tbody
      tr
        td
          table(align='center' valign='top' width='640' border='20' cellpadding='0' cellspacing='0' style='border-color: transparent;border-top: 0;border-bottom: 0;')
            tbody
              tr
                td(width='100%')
                  table(align='center' valign='top' width='600' border='0' cellpadding='0' cellspacing='0' style='border-color: transparent;')
                    // 中間內容區
                    tbody
                      tr
                        td
                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' bgcolor='#FEEFC3')
                            // 上層間隔
                            tbody
                              tr
                                td(width='100%' bgcolor='#FEEFC3' style='padding-top: 30px;padding-bottom: 30px;padding-left: 0;padding-right: 0;')
                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' bgcolor='#FFF')
                            // 中間內容
                            tbody
                              tbody
                                tr
                                  td(width='100%')
                                    img(src='https://9cc8-114-25-230-75.jp.ngrok.io/email/logo.png' width='600' height='154' alt='WeMo Scooter' style='  display:  block;max-width: 100%;  ')
                              tr
                                td(width='100%')
                                  table(align='center' valign='top' width='100%' border='20' cellpadding='0' cellspacing='0' bgcolor='#FFF' style='border-top:10; border-color: transparent;')
                                    // 表頭文字區塊
                                    tbody
                                      tr
                                        td(width='100%' style='border:0;')
                                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' style="font-family:'Open Sans', 'Microsoft JhengHei', arial, sans-serif ;font-size: 28px;")
                                            // 表頭文字
                                            tbody
                                              tr
                                                td(style='border:0;' align='center')
                                                  b &#x8A3B;&#x518A;&#x6D41;&#x7A0B;&#x5373;&#x5C07;&#x5B8C;&#x6210;&#xFF01;
                                              tr
                                                td(style='border:0;')
                                                  table(border='5' style='border-color: transparent;')
                                              tr
                                                td(style='border:0;font-size: 0.75em;')
                                                  table(align='center' valign='top' width='100%' border='20' cellpadding='0' cellspacing='0' style='border-color: transparent;')
                                                    tbody
                                                      tr
                                                        td(align='center')
                                                          | &#x611F;&#x8B1D;&#x60A8;&#x8A3B;&#x518A; Oh!DogCat &#x6703;&#x54E1;
                                                      tr
                                                        td(align='center')
                                                          | &#x8ACB;&#x9EDE;&#x64CA;&#x4E0B;&#x65B9;&#x6309;&#x9215;&#x6216;&#x662F;&#x9023;&#x7D50;&#x9032;&#x884C;&#x9A57;&#x8B49;&#xFF0C;&#x4EE5;&#x5B8C;&#x6210;&#x8A3B;&#x518A;&#x6D41;&#x7A0B;
                                                  table(align='center' valign='top' width='100%' border='20' cellpadding='0' cellspacing='0' style='border-color: transparent;')
                                                    tbody
                                                      tr
                                                        td(align='center')
                                                          a(href='https://64f5-2402-7500-5df-344e-6042-eb5-6b36-f03a.jp.ngrok.io/register-vetify?variable=#{text}' style='color: blue;') https://64f5-2402-7500-5df-344e-6042-eb5-6b36-f03a.jp.ngrok.io/email/register-vetify?variable=#{text}
                                  table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' bgcolor='#FFF')
                                    // 按鈕
                                    tbody
                                      tr
                                        td(width='100%')
                                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0')
                                            // 文字 & 按鈕
                                            tbody
                                              tr
                                                td(width='100%' align='center' style='padding-top: 0px;padding-bottom: 0px;padding-left: 20px;padding-right: 20px;')
                                                  table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' style='max-width: 550px;')
                                                    tbody
                                                      tr
                                                        td
                                                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' style='padding-top: 10px;padding-bottom: 10px;')
                                                            tbody
                                                              tr
                                                                td(align='center')
                                                                  a(href='https://64f5-2402-7500-5df-344e-6042-eb5-6b36-f03a.jp.ngrok.io/register-vetify' style='color:#ffffff;border-radius:100px;display:block;text-decoration:none;')
                                                                    img(src='https://upload.cc/i1/2022/09/17/vxRY1e.png' width='400' height='100' alt='驗證按鈕' style='display: block;max-width: 100%;')
                                                              tr
                                                                td(align='center')
                                                                  table(border='20' style='border-color: transparent;')
                                                              tr
                                                                td
                                                                  table(border='10' style='border-color: transparent;')
                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' bgcolor='#FEEFC3')
                            // 下層間隔
                            tbody
                              tr
                                td(width='100%' bgcolor='#FEEFC3' style='padding-top: 30px;padding-bottom: 30px;padding-left: 0;padding-right: 0;')
          // 邊框
